
*{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

ul, li{
    text-decoration: none;
    list-style: none;
}

body{
    font-size: 18px;
}

h2{
    font-weight: 550;
    font-size: 22px;
}

.form{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    padding: 20px;
    gap: 10px;
}

input, button{
    padding: 3px 9px;
    font-size: 18px;
}

ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

li{
    display: flex;
    gap: 20px;
    align-items: center;
}

.form div{
    display: flex;
    flex-direction: column;

}